/****************/
/*    General   */
/****************/
/* https://techhandie.com/ */

/*-- Font Sourcing --*/

@import url('https://fonts.googleapis.com/css?family=Belleza|Bitter|Open+Sans|Roboto|Volkhov');

@font-face {
  font-family: 'Belleza';
  src: url("fonts/Belleza.ttf") format('ttf');
}
@font-face {
  font-family: 'Bitter';
  src: url("fonts/Bitter.ttf") format('ttf');
}
@font-face {
  font-family: 'fontawesome-webfont';
  src: url("fonts/fontawesome-webfont.woff") format('woff');
}
@font-face {
  font-family: 'Handel Gothic';
  src: url("fonts/Handel-Gothic.ttf") format('ttf');
}
@font-face {
  font-family: 'Milkshake';
  src: url("fonts/Milkshake.ttf") format('ttf');
}

/*-- Font sourcing End --*/


/*--	Common Css --*/

:root {
--antiquegray: rgb(207,207,207);/*#cfcfcf*/
--charcoal: #222222;
--coal: #1d1d1d;
--cottonbule: #e9f6fb;
--dusk: #666666;
--grey: #555555;
--light-grey: #eaeaea;
--medium-light-grey: #e6e6e6;
--midnite: #4a4656;
--obsidian: #0d0d26;
--ocean: #325c8f;/*#428bca*/
--shale: #c2c2c2;
--slate: #212529;
--water: #f2f2f2;
}

/****** Featured ******/

* {/*selector for ALL elements - remove default settings for site*/
  margin: 0;
  padding: 0;
}

.shine {filter: brightness(120%);}

.matte {filter: contrast(50%);}

.weighty {font-weight: 700;}

.center {text-align: center;}

.just {text-align: justify;}

/**********************/

#site-container {
  width: 100vw;
  margin: 0 auto;
  /* position: relative; */
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  font-weight: 300;
}

p {
  font-size: 15px;
  line-height: 28px;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a, a:active, a:focus, a:active {
  text-decoration: none !important;
}

.section-title {
  margin-bottom: 30px; /* 70px */
}

.section-title h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}

.section-title p {
  font-family: 'Volkhov', serif;
  font-style: italic;
  color: var(--dusk);/*#666;*/
}

/*--	Common CSS End --*/


/***********************/
/*** * General End * ***/
/***********************/


 /*-- Header Start --*/

#head-container {
  width: 100%;
  height: 90px;
  display: table-row;
  vertical-align: middle;
  position: relative;
  background: black;/*#4CAF50*/
}

#brand {
  color: ivory !important;/* white */
/*   padding-top: 25px; */
  font-family: "Handel Gothic", "Geneva", sans-serif !important;
  font-size: 1.75em;/*2em*/
  font-weight: 700;
  margin: 25px 0 0 100px;
  position: absolute;
}

#head-container a {
  font-size: 1.125em;
  text-decoration: none;
  color: ivory;
}

#head-container li:hover a {color: var(--shale;)}

#head-container ul {
  list-style: none;
}

#head-container ul.menu {/*force primary menu bar to the far right*/
  margin: 20px 50px 0 800px;
  background: black;
}

#head-container li.menu-item:hover {
  /* margin-top: 16px; */
}

/*Primary Level Menu*/
#head-container ul li {
  width: 150px;
  height: 50px;
  line-height: 2.875; /*50px*/
  border: none;
  text-align: left;
  float: left;
  padding-left: 20px;
  position: relative;
}

#head-container ul li:hover  {/*effects menu items*/
  background-color: var(--antiquegray);/*peach*/
  color: var(--shale);/*seaweed*/
}

#head-container ul li a:hover, #head-container ul li a:focus  {
  font-size: 1.125em;
  font-weight: 700;
  color: navy;/*skyblue|slate|ocean*/
  position: absolute;
}

/*Dropdown Menu*/
#head-container .dropdown-menu {
  background-color: var(--charcoal);/*antiquegray|var(--water);*/
  opacity: 0.7;
  border: 0.5px dotted var(--charcoal);
  color: ivory;
  display: none;
}

#head-container ul li:hover > ul {/*ul li*/
  display: block;
  top: 50px;
  margin-left: 30px;
  position: absolute;
}

/*Dropdown-item: ul li ul li*/
#head-container .dropdown-item {
  width: 250px;
  border-right: 0.5px dotted gainsboro;/*var(--charcoal)|#222222*/
  border-left: 0.5px dotted gainsboro;/*var(--charcoal)|#222222*/
  border-bottom: 0.5px dotted gainsboro;/*var(--charcoal)|#222222|fuchsia|gainsboro*/
  color: white;/*var(--charcoal)|#222222*/
  z-index: 9999;
}

#head-container .dropdown-item:hover {
  background-color: gainsboro;
  padding-left: 10px;/*reducing padding shift left*/
  color: var(--obsidian);
}

#head-container .dropdown-item:first-child {border-top: 0;}

#head-container .dropdown-item.end {border-bottom: 0;}

#head-container .dropdown-item a {/*default dropdown item text*/
  /* font-size: 1.25em; */
  text-decoration: none;
  color: white;/*var(--charcoal)|ivory|obsidian|fuchsia*/
}

#head-container .dropdown-item a:hover {
  background-color: gainsboro;
  padding-left: 10px;/*reducing padding shift left*/
  color: var(--obsidian);
}

/*#head-container ul li ul li a:hover {color: var(--obsidian);}*/

/*Dropdown Arrow*/
#head-container .arrow:after {
  content: "\25BC";
  margin: 5px 0 0 20px;
  font-size: 0.65em;
  color: ivory;
}

#head-container .arrow:hover:after {
  font-size: 1em;
  color: navy;/*var(--cottonblue)|#d3edf8|skyblue|obsidian*/
}

/*--	Header End --*/


/*-- Content Start --*/ /* in Index */

h1.weighty {
  font-family: 'Bitter', serif;
  margin: 50px 0;
  color: #120337;
}

#content {
  background-image: url("images/Brooklyn-Bridge-Under-Construction-1883.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 0%;
  padding: 200px 0 280px 0;
  position: relative;
}

#content:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--water); /* linear-gradient(to left, #8b86a3, #322e40); */
  opacity: 0.5;
}

#content .block {
  color: var(--obsidian);
}

/* #content .block h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 10px;
  padding-bottom: 45px;
} */
#content .block p {
  color: vaar(--obsidian);
  font-size: 23px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
}

div.col-md-10.col-md-offset-2 {
  margin: auto 0% auto 25%;
}

#content .block h2 {font-weight: 600; color: var(--obsidian);}

/*-- History Start --*/
#history {
  padding: 30px 0; /* 50 */
  background: var(--water);
}
#history .block h2 {
  text-transform: none;
  font-family: 'Milkshake', cursive;
  font-size: 1.75em;
  padding-top: 20px; /* 35px */
  line-height: 27px;
  margin: 0;
}
#history .block p {
  color: var(--coal); /* #7B7B7B */
  padding-top: 20px;
  font-family: 'Bitter', serif;
  font-size: 1.2em;
  text-align: justify;
  font-style: normal;
}
#history .section-title {
  margin-bottom: 0px;
}
#history .section-title p {
  padding-top: 20px;
}
#history ul {
  color: var(--coal);
  font-family: 'Belleza', serif;
  font-size: 1.3em;
  padding-top: 15px;
  list-style-type: disc;
}
#history .signoff p {
  font-family: 'Milkshake', cursive;
  font-size: 1.5em;
  padding: 20px 10px 15px 0;
  text-align: right;
}
#history .signoff p span {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
  padding: 20px 0px 15px 0;
  text-align: right;
}
/*-- History End --*/

/*-- Projects Start --*/
#projects {
  background: #4e4d50;/*rgba(240,240,240,0.3);*/
  padding: 100px 0;
}

#projects img {
  border-radius: 50px;
}

#projects .project-name {
  font-family: "Bitter", serif;
  font-size: 1.75rem;
  color: snow;/*white;dusk*/
}

#projects h2 {
  font-family: "Bitter", serif;
  text-transform: uppercase;
  font-size: 2.25em;
  color: white;/*dusk*/
}

#projects p {
  font-family: "Belleza", serif;
  font-size: 1.3em;
  color: ghostwhite;/*coal*/
  line-height: normal;
}

#projects .projects-subtitle {
  color: snow;/*dusk*/
  font-family: "Milkshake", cursive;
  font-size: 1.65em;
  font-style: normal !important;
}

#projects .container {
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-rows: 1fr;
  grid-template-areas:
    "title title"
    "gallery content"
    "gallery content"
    "gallery content"
    "gallery content";
  margin: 0 auto;
}

#projects .projects-title {
  grid-area: title;
  grid-row: 1/2;
  grid-column: 1/3;
  justify-self: center;
  padding-bottom: 30px;
}

/* Row1 */
#projects .row1-1 {
  grid-area: gallery;
  grid-row: 2/3;
  grid-column: 1/2;/*remains constant*/
  justify-self: center;/*horizontal*/
  align-self: center;/*vertical*/
  margin: 20px auto 20px auto;
  padding-bottom: 20px;
}

#projects .row1-2 {
  grid-area: content;
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
  padding-bottom: 20px;
}

/*Row 2*/
#projects .row2-1 {
  grid-area: gallery;
  grid-row: 3/4;
  grid-column: 1/2;
  justify-self: center;/*horizontal*/
  align-self: center;/*vertical*/
  margin: 20px auto 20px auto;
  padding-bottom: 20px;
}

#projects .row2-2 {
  grid-area: content;
  grid-row: 3/4;
  grid-column: 2/3;
  align-self: center;
}

/* Row3 */
#projects .row3-1 {
  grid-area: gallery;
  grid-row: 4/5;
  grid-column: 1/2;
  justify-self: center;/*horizontal*/
  align-self: center;/*vertical*/
  margin: 20px auto 20px auto;
  padding-bottom: 20px;
}

#projects .row3-2 {
  grid-area: content;
  grid-row: 4/5;
  grid-column: 2/3;
  align-self: center;
  padding-bottom: 20px;
}

/* Row4 */
#projects .row4-1 {
  grid-area: gallery;
  grid-row: 5/6;
  grid-column: 1/2;
  justify-self: center;/*horizontal*/
  align-self: center;/*vertical*/
  margin: 20px auto 20px auto;
  padding-bottom: 20px;
}

#projects .row4-2 {
  grid-area: content;
  grid-row: 5/6;
  grid-column:2/3;
  align-self: center;
  padding-bottom: 20px;
}

/*-- Projects End --*/

/*-- Service Start --*/

#service {
  background: var(--water);
  text-align: center;
  padding: 50px 0;
}

#service i {
  font-size: 60px;
  color: var(--midnite);
}

#service .fa-phone {
  font-size: 3.0625em;/*30px;*/
}

#service .icon-header {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

#service .service-item {
  padding-bottom: 30px;
}

#service .service-item h4 {
  padding-top: 20px;
  margin: 0;
  color: var(--dusk);/*#666;*/
  text-align: left;
}

#service .service-item p {
  color: var(--coal); /* #888; */
  padding-top: 10px;
  padding-right: 20px;
  margin: 0;
  font-size: 1.25em;
  line-height: 1.8;
  text-align: justify;
  /* font-style: italic; */
}

/*===============================================*/

#service-container {
	display: grid;
	grid-template-areas:
	"title title title title"
	"heading heading heading heading"
	"icon i-title i-title i-title"
	"content content content content"
	"icon"
	"content content content content"
	"icon"
	"content content content content"
	"icon"
	"content content content content";
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
}

#service .title {
	grid-area: title;
	grid-row:1/2;
	grid-column: 1/5;
}

#service .subtitle {
  grid-area: heading;
  grid-row:2/3;
  grid-column: 1/5;
  color: var(--coal);
  font-size: 1.35em;
  font-style: normal !important;
  margin-bottom: 50px;
}

#img1 {
	grid-area: "icon";
	grid-row: 3/4;
	grid-column: 1/2;
  justify-self: start;
}

#service .icon-header h4.icon-title {
  grid-area: "i-title";
	grid-row: 3/4;
	grid-column: 2/5;
  margin-left: 30px;
}

#design {
	grid-area:"content";
	grid-row: 4/5;
	grid-column: 1/5;
}

#img2 {
	grid-area: "icon";
	grid-row: 5/6;
	grid-column: 1/2;
}

#service .icon-header h4.icon-title {
  grid-area: "i-title";
	grid-row: 5/6;
	grid-column: 2/5;
  margin-left: 30px;
}

#develop {
	grid-area:"content";
	grid-row: 6/7;
	grid-column: 1/5;
}

#img3 {
	grid-area: "icon";
	grid-row: 7/8;
	grid-column: 1/2;
}

#service .icon-header h4.icon-title {
  grid-area: "i-title";
	grid-row: 7/8;
	grid-column: 2/5;
  margin-left: 30px;
}

#tech_assist {
	grid-area:"content";
	grid-row: 8/9;
	grid-column: 1/5;
}

#img4 {
	grid-area: "icon";
	grid-row: 9/10;
	grid-column: 1/2;
}

#service .icon-header h4.icon-title {
  grid-area: "i-title";
	grid-row: 9/10;
	grid-column: 2/5;
  margin-left: 30px;
}

#consult {
	grid-area:"content";
	grid-row: 10/11;
	grid-column: 1/5;
}

/*-- Service End --*/

/*-- TechAssist Start --*/
#techassist {
  background: var(--water);
  text-align: center;
  padding: 80px 0;
}

#techassist span.italics {font-style: oblique;}

#techassist .title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1.75em;/*28px*/
  font-weight: 600;
  color: var(--coal);
}

#techassist .subtitle   {
  font-family: "Volkhov", cursive;
  color: var(--coal);
  font-size: 1.35em;
  font-style: normal !important;
}

#techassist .techassist-item {
  padding-bottom: 30px;
}

#techassist .techassist-item:first-child {
  margin-top: -20px;
}

#techassist .techassist-item i {
  font-size: 3.75em;/*60px*/
  color: var(--midnite);
}
#techassist .techassist-item h4 {
  padding-top: 20px;
  margin: 0;
  color: var(--dusk);/*#666;*/
}
#techassist .techassist-item p {
  color: var(--coal); /* #888; */
  padding-top: 10px;
  padding-right: 20px;
  margin: 0;
  font-size: 1.25em;/*0.875em*/
  line-height: 1.8;
  text-align: justify;
  /* font-style: italic; */
}
#techassist .subtitle {
  color: var(--coal);
  font-size: 1.2em;
  font-style: normal !important;
}
/*-- TechAssist End --*/


/*-- News Start --*/
#news {
  background: var(--water);
  text-align: center;
  width: 100%;
  height: 350px;
  padding: 20px 0;
}
#news .block {
  text-transform: none;
  color: var(--coal);
  font-family: 'Belleza', serif;
  font-size: 1.75em;
  line-height: 27px;
  margin: 50px 0 40px 0;
}
#news .block h3 a {
  color: var(--coal); /* #7B7B7B */
  margin-top: 40px;
  font-family: 'Volkhov', cursive;
  font-size: 0.8em;
  font-weight: bold;
  text-align: justify;
  font-style: normal;
}
#news ul {
  color: var(--coal);
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
  font-weight: 500;
  padding-top: 15 0 20 0;
  text-align: justify;
  list-style: square;
  margin: 0 25% 0 20%;
}
/*-- News End --*/

/*-- Global-Header --*/
#global-header {
  background-image: url("images/Brooklyn-Bridge-Under-Construction-1883.png");
  background-size: cover;
  padding-top: 65px; /* 150px */
  padding-bottom: 25px; /* 107px */
  position: relative;
  background-attachment: fixed;
  border-bottom: none; /* 1px solid #222222; */
}
#global-header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--water); /* linear-gradient(to left, #928dab, #1f1c2c 70%); */
  opacity: 0.5;
}
#global-header .block {
  color: var(--coal); /* #E3E3E4 */
  margin: 0 auto;
  padding-left: 90px;
  text-align: center;
}
#global-header .block h1 {
  font-weight: 300;
  font-size: 45px;
  letter-spacing: 2px;
  padding-bottom: 15px;
  margin-top: 0;
  text-transform: capitalize;
}
#global-header .block p {
  color: black;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 2px;
}
#global-header .block p a {
  color: black;
  text-decoration: underline;
}
#global-header .block p a:hover {
  color: #426bca;
  font-style: italic;
}
/*-- Global-Header End --*/

/*-- Contact-form Start --*/
#contact-form {
  background: #A3A3A3; /* #f2f2f2 */
  padding-top: 35px;
  padding-bottom: 35px;
}
#contact-form p{
  color: white;
  font-style: italic;
}
#contact-form .block form .form-group {
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0px;
  width: 100%;
}
#contact-form .block form .form-group .form-control {
  color: black;
  background: #ffffff; /* #F6F8FA */
  height: 60px;
  border: 1px solid #EBF0FA; /* #EEF2F6 */
  box-shadow: none;
  width: 100%;
}
#contact-form .block form .form-group-2 {
  padding-bottom: 15px;

}
#contact-form .block .form-group-2 textarea {
  color: black;
  background: #ffffff; /* #F6F8FA */
  height: 135px;
  border: 1px solid #EBF0FA; /* #EEF2F6 */
  box-shadow: none;
  width: 100%;
  margin: 40px 0 20px 0;
}
#contact-form .block button {
  width: 100%;
  height: 60px;
  background: #47424C;
  border: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#contact-form .block form .field-block {
  color: white;
  margin-top: 20px;
  margin-bottom: 25px;
  display: block;
  text-align: justify;
}
#contact-form .block form .field {
  color: white;
  font-size: 1.1em;
  padding-top: 40px;
  padding-bottom: 35px;
}
#contact-form .block form .btn {
  background: var(--water);
  border: none;
  border-radius: 15px;
  color: var(--coal);
  width: 150px;
  height: 50px;
}
#contact-form .block form .btn:hover {
  background: #428bca;
  color: white;
}
#contact-form .info-title h2 {
  font-family: 'Bitter', serif;
  font-size: 1.5em;
  color: white;
  text-decoration: underline;
}
#contact-form .info-title h3 {
  font-family: 'Handel Gothic', sans-serif;
  font-size: 1.125em;
  color: white;
  margin-top: 0px;
}
#contact-form .info-title a {
  color: white;
}
#contact-form .info-title a:hover {
  text-decoration: underline;
  color: #426bca;
}
#contact-form img {
  padding-right: 10px;
}
/*-- Contact-form End --*/

/*--  Thank You --*/
#thank-you {
  background-color: #BFBFBF;
  opacity: 0.6;
}

#thank-you .container {
  width: 100%;
  height: 400px; /* 375px; */
  background-color: #BFBFBF;
  opacity: 0.6;
}

#thank-you .row .no-gutters {
  height: auto;
}

#thank-you .block {
  color: black;/*var(--obsidian)*/
  padding-top: 100px;
  padding-bottom: 40px;
  height: 400px;
  width: 100%;
  margin: auto 0% auto 63.55%;
}
#thank-you .block h2 {
  color: black;/*var(--obsidian)*/
}
#thank-you .block p {
  font-size: 1.25em;
  /*padding-top: 20px; */
  line-height: 28px;
}
#thank-you .section-title {
  margin-bottom: 0;
}
/*-- Thank You End --*/

/*--------- Heading Start ------------*/
.heading {
  padding-bottom: 60px;
  text-align: center;
}
.heading h2 {
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}
.heading p {
  font-size: 18px;
  line-height: 40px;
  color: #292929;
  font-weight: 300;
}
/*------------ Heading End -----------*/

/*--	Footer Start --*/
footer {
  background: #000000;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 15px;
}
footer p {
  font-size: 13px;
  line-height: 25px;
  color: #ffffff; /* 919191 */
}
footer a {
  color: #ffffff;/* #595959; */
}
footer .footer-manu {
  padding-bottom: 25px;
}
footer .footer-manu ul {
  margin: 0px;
  padding: 0px;
}
footer .footer-manu ul li {
  display: inline-block;
  padding: 0px 20px;
}
footer .footer-manu ul li a {
  display: inline-block;
  color: var(--water); /* #494949; */
}
footer .footer-manu ul li a:hover {
  color: #428bca;
}
/*-- Footer End --*/
