<header>
    <div id="head-container">
        <div id="brand"><a href="https://techhandie.coms">TechHandie Corporation</a></div>
        <ul class="dropdown">
            <li><a href="#">Request</a></li>
            <li class="h-menu">
                <a href="#">Services</a>
                <ul class="hidden">
                    <li><a class="m-item" href="#">Web Design</a></li>
                    <li ><a class="m-item" href="#">Web Development</a></li>
                    <li><a class="m-item" href="#">Technical Assistance</a></li>
                </ul>
            </li>
            <li><a class="m-item" href="#">History</a></li>
            <li><a class="m-item" href="#">Contact Us</a></li>
        </ul>
    </div>
</header>